body{
font-family: 'Open Sans', sans-serif;
color: #9E5639;
line-height: 1em;
padding: 0;
}
header{
	background-color: #F4EF32;
}
main{
	display: grid;
	grid-template-columns: auto;
	background-color: #F4EF32;

}
h1{ 
	margin:0;
	text-transform: uppercase;
	letter-spacing: 15px;
	text-align: center;
	font-size: 80px;
	font-family: sans-serif;
	line-height: 1.7;
}
.section1{
	line-height: 1.7em;
	font-size: 2em;
	background-image:url(../img/fundo.jpg);
	width:100%;
	padding: 0;
	margin: 0 0;
	height:auto;
	
}
.section1 {
	padding: 0;
	margin: 0;
}
.section1  img{
float: left;
width: 250px;
height: auto;
margin: 20px 35px 20px 20px;
box-shadow: 15px 15px 25px black 
}
.input {
	margin-top:100px;
	color: #FFFFE8;
	font-family: consolas;
	line-height: 0.7em;
	font-size: 2em;
}
.green{
	color: #A6E22B;
}
.blue{
	color: #56D8C1;
}
.purple{
	color: #7B76CE;
}
.red{
	color: #E32639;
}

.section2{
	line-height: 1.7em;
	font-size: 2em;
}
.section3{
	width: 100%;
	line-height: 1.7em;
	font-size: 2em;
}
.section4{
	width: 100%;
	line-height: 1.7em;
	font-size: 2em; 
}
.ponto{
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	border: solid 3px #9E5639;
}
.atribuido{
	background-color: #9E5639;
}
table{
width: 100%;
margin: auto;
  border-collapse: separate; 
  border-spacing: 50px 20px;
  margin: 0 0 0 0;
}
th{
text-align: center;	
}