    header{
        color:#FEFEFE;
        width: 100%;
        line-height: 70px;
        background-color:#2A2D34;
        text-align: right;
        position: sticky;
        top:-15px;
        z-index:999;
    }
    li{
        list-style: none;
        text-transform: capitalize;
    }
    ul{
        margin: 0;
        padding: 0;
    }
    ul:first-child{
        text-align: center;
    }
    h1{
        width: 85%;
        text-align: center;
        float: left;
        line-height: 70px;
        margin: 0 auto;
        text-transform: capitalize;
        font-size: 2em;
    }
    h2{
    text-transform: capitalize;
    text-align: center;
    }
    header a{
        width: 5%;
        vertical-align: middle;
        padding: auto;
        display:inline-block;
        text-align: right;
        margin:0 10% 0 0; 
    }
    a i{
        font-size:1.5em;
    }
    #menu-deslizante{
        width: fit-content;
        color: #2A2D34;
        background-color: #FEFEFE;
        text-align: left;
        visibility: hidden;
        padding: 30px;
        position: absolute;
        right: 0;
        top: 0;
    }



    figure{
        position: relative;
        margin: 0 0 150px 0;
    }
    figure img{
        width: 100%;
        height: 100%;
    }
    figure div{
        color: #FEFEFE;
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        background-color: #000;
        opacity: .6;
    }
    figure h2{
        margin: 20% 0 0 0;
    }
    figure p{
        text-align: center;
    }
    figure p::first-letter{
        text-transform: uppercase;
    }
     .tab{
        color:#2A2D34;
    }
    .nav-link.tab.active.show{
        color: #FEFEFE;
        background-color: #2A2D34;
    }
    .nav-link.active.tab{
        color: #FEFEFE;
        background-color: #2A2D34;
    }
    .nav-tabs {
        border-bottom: 1px solid #2A2D34;
    }















    footer{
        margin:150px 0 0 0;
    }
 
   